<p>http-client works!</p>
<button mat-raised-button (click)="onCreate()">
    <mat-icon>add</mat-icon>
</button>
<div class="card" *ngFor="let user of users">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>User: {{user.firstName}} {{user.lastName}}</mat-card-title>
            <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Age: {{user.age}}
            </p>
            <p>
                Discount : {{user.discount}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">Edit</button>
            <button mat-raised-button color="warn">Delete</button>
        </mat-card-actions>
    </mat-card>
    <!-- <mat-card> {{user.firstName}} {{user.lastName}} {{user.age}} {{user.discount}} {{user.email}}
        <p>
            <button mat-raised-button color="primary">Edit</button>
            <button mat-raised-button color="warn">Delete</button>
        </p>
    </mat-card> -->

</div>

<!-- <div class = "card">
    <button mat-mini-fab aria-label="delete icon" >
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-mini-fab aria-label="edit icon">
        <mat-icon>edit</mat-icon>
      </button>
    <h2>Deadline: </h2>
    <p></p>
</div> -->