<form class="example-container" [formGroup]="userValidation" (ngSubmit)="submit()">
    <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName">
        <mat-error
            *ngIf="userValidation.get('firstName').hasError('required') && userValidation.get('firstName').touched">
            This field is required
        </mat-error>
    </mat-form-field>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName">
            <mat-error
                *ngIf="userValidation.get('lastName').hasError('required') && userValidation.get('lastName').touched">
                This field is required
            </mat-error>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Age</mat-label>
            <input matInput type="number" formControlName="age">
            <mat-error *ngIf="userValidation.get('age').hasError('required') && userValidation.get('age').touched">
                This field is required
            </mat-error>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Discount</mat-label>
            <input matInput type="number" formControlName="discount">
            <mat-error
                *ngIf="userValidation.get('discount').hasError('required') && userValidation.get('discount').touched">
                This field is required
            </mat-error>
        </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="submit" (click)="buttonSubmit()">Submit2</button>
</form>