<!-- <p>{{title}}</p>
<p>{{number - 2 }}</p>
<p>{{arr}}</p>
<p>{{obj.a}}</p>
<p>{{obj.b.c}}</p>
<img [src]="img"> -->

<!-- <button (click)="onClick()"> Click Me</button>
<input
 type="text" 
 (keyup.enter)="onInput($event)" 
 (blur)="onBlur(myInput.value)"
 #myInput
 >
<p><strong>{{inputValue}}</strong></p> -->

<!-- <input type="text" [(ngModel)]="title">
<p>{{title}}</p>
<app-post></app-post> -->

<h1> Hello Angular World!</h1>
<div [ngStyle]="{
    width: '200px',
    height: '200px',
    boardRadius: '5px',
    border: '1px solid #ccc'
}">

</div>